html {
  background-image: url("../img/9L1l4W.jpg");

  font-family: "Cardo", serif;
  /* font-family: "Open Sans Condensed", sans-serif; */
}

body {
  font-family: "Cardo", serif;
}

.card.is-wide {
  width: 550px;
}

h1 {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "Saira", sans-serif;
  font-size: 20px;
}

.title {
  font-size: 70px;
  letter-spacing: 15px;
  color: midnightblue;
}

.main-center-card {
  margin: 0px 375px 0px 375px;
  color: midnightblue;
}

.card-header {
  padding: 1.75rem 0;
  background-color: lightsteelblue;
}

.card-content {
  padding: 50px;
  background-color: lightsteelblue;
}

.heading {
  font-size: 45px;
  letter-spacing: 10px;
  color: midnightblue;
}

form.signup,
form.login {
  margin-top: 50px;
}

@media (max-width: 576px) {
  .main-center-card {
    margin: auto;
  }

  .section {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .main-center-card {
    margin: auto;
  }

  .section {
    margin: auto;
  }
}
